Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.3.7
eventlet
tensorflow  # Specify a version if needed, e.g., tensorflow==2.17.0
numpy==1.26.4
opencv-python==4.10.0.84
mediapipe==0.10.14
Pillow==10.4.0
requests==2.32.3
